@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white
  
}

body{
  background-color: #060e1f;
  overflow-x: hidden;
}

.img-content{
  border-radius: 2rem;
  box-shadow: 10px 0 80px rgba(97,40,255,.3);
  height: 52.875rem;
  max-width: 69.5rem;
  background-color: #1d2939;
  padding: 2px;
  
}